//Import Bootstrap overrides
@import "./bootstrap-overrides";

//import bootstrap and fontawesome
@import "~bootstrap/scss/bootstrap.scss";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

$lightgrey: #efefef;
$darkgrey: #999999;
$bodyColor: #434735;
$activeLinkColor: #ff040b;

.navbar{
    .navbar-brand{
        span{
            padding-left: 1rem;
        }
    }
    a{
        color: $bodyColor;
        font-weight: bold;
        &.active{
            color: $activeLinkColor;
            // text-decoration: underline;
        }

        &:hover{
            color: rgba($activeLinkColor, 0.5);
        }
    }
}

.content{
    margin-top: 6rem;
}

.index{
    .block{
        border: 1px solid $darkgrey;
        padding: 2rem;
        
        &.about{
            img{
                // max-height: 200px;
                max-width: 100%;
            }

            a{
                text-decoration: none;
            }
        }

        .productCards{
            img{
                max-width:100%;
            }

            div{
                &.card{
                    a{
                        margin-top: 1rem;
                        text-decoration: none;
                        color: $bodyColor;
                    }
                }
            }
        }
    }

    .faq{
        h4{
            margin-bottom: 2rem;
        }

        .accordion-header{
            button{
                font-weight: bold;

                span{
                    &:first-child{
                        padding-right: 5px;
                    }
                }
            }
        }

        .accordion-button:not(.collapsed) {
            color: $activeLinkColor;
            background-color: rgba($warning, 0.2);
        }

        .accordion-body{
            span{
                &:first-child{
                    padding-right: 5px;
                    font-weight:bold;
                }
            }
        }
    }

}

.shop{
    .block{
        border: 1px solid $darkgrey;
        padding: 2rem;
    
        .header{
            text-align: center;
            h2{
                text-transform: capitalize;
            }
        }
        .product{
            .productImage{
                margin-right: 2rem;
                display: flex;
                justify-content: center;
            }

            .description{
                p{
                    text-align: justify;
                }

                .actions{
                    .price{
                        color:#02bf77;
                        font-weight:bold;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }
}
}

.contact{
    h1{
        text-align: center;
        text-transform: uppercase;
        margin: 2rem 0;
        font-weight: bolder;
    }

    .contactCards{
        margin: 1rem 0;
        margin-bottom: 3rem;

        div{
            &:not(:first-child), :not(:last-child){
                margin: 0 0.5rem;
            }

            border: 1px solid $lightgrey;
            flex-grow: 1;
            padding: 0.5rem;

            text-align: center;

            a{
                text-decoration: none;
            }
        }
    }

    .contact-form{
        textarea{
            height: 250px;
        }

        .actions{
            display: flex;
            justify-content: center;
            .submit{
                padding: 0.5rem 4rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}

.footer{
    border-top: 2px solid $darkgrey;
    margin-top: 3rem;
    background-color:#d8d8d8;

    .logo{
        img{
            max-height: 150px;
            // width: 100%;
        }
    }

    a, i{
        color: $bodyColor;
    }

    .contacts{
        a{
            text-decoration: none;
        }

        i{
            &.hideIcon{
                color: #d8d8d8;
            }
        }
    }

    .links{
        a{
            text-decoration: none;
        }
    }
}